body 
{
	margin: 0;
	display: block;
	width: 500px;
	text-align: center;
}

#banniere
{
	text-align: center;
	font-size: 25px;
	color: white;
	background-color: #444444;
	padding: 25px;
}

#mainMenu
{
	display: flex;
	background-color: #99CCCC;
	justify-content: center;
}

#mainMenu > ul > li
{
	position: relative;
}

#mainMenu > ul::after
{
	content: "";
	display: block;
	clear: both;
}

#menuHeader
{
	position: absolute;
	right: 5px;
	height: 14px;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

.lienLogo
{
	text-decoration: none;
	color:white;
}

.sousMenu
{
	display: none;
}

#mainMenu li:hover .sousMenu
{
	display: inline-block;
	position: absolute;
	top: 100%;
	left:0px;
	padding: 0px;
	z-index: 1000000;
}

.sousMenu li
{
	padding: 30px 0px 0px;
	font-size: 13px;
	color: #222538;
	width: 270px;
}

.lienMenu
{
	padding: 15px 35px 15px 35px;
	text-decoration: none;
	font-family: Montserrat;
	font-size: 20px;
	color: white;
	background-color: #77AAAA;
}

.lienHeader
{
	padding: 0px 15px 0px 15px;
	text-decoration: none;
}

.lienMenu:hover
{
	background-color: #AAAAAA;
}

table
{
	margin-top: 220px;
	border: 1px solid black;
	border-collapse: collapse;
	margin: auto;
	text-align: center;

}

td, th
{
	border: 1px solid black;
	padding: 5px;
}